In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pop1 = pd.read_csv('https://bit.ly/PopH01File')
pop2 = pd.read_csv('https://bit.ly/PopH02File')
pop3 = pd.read_csv('https://bit.ly/PopH03File')
pop2

    year  f_male  f_female
0   1985       7         6
1   1986       7         5
2   1987       6         5
3   1988       5         5
4   1989       6         5
5   1990       5         4
6   1991      18        14
7   1992      19        16
8   1993      19        17
9   1994      21        19
10  1995      24        21
11  1996      27        25
12  1997      28        25
13  1998      27        24
14  1999      30        28
15  2000      32        30
16  2001      34        34
17  2002      36        37
18  2003      49        54
19  2004      54        61
20  2005      61        68
21  2006      83        92
22  2007     111       118
23  2008     123       132
24  2009     122       134
25  2010     125       137
26  2011     135       145
27  2012     118       129
28  2013     118       126
29  2014     129       137
30  2015     133       142
31  2016     131       143
32  2017     128       140
33  2018     137       147
34  2019     134       148
35  2020     115       128