In [6]:
import pandas as pd
pop1 = pd.read_csv('https://bit.ly/PopH01File', index_col='year')
pop2 = pd.read_csv('https://bit.ly/PopH02File', index_col='year')
pop3 = pd.read_csv('https://bit.ly/PopH03File', index_col='year')
pop2

      f_male  f_female
year
1985       7         6
1986       7         5
1987       6         5
1988       5         5
1989       6         5
1990       5         4
1991      18        14
1992      19        16
1993      19        17
1994      21        19
1995      24        21
1996      27        25
1997      28        25
1998      27        24
1999      30        28
2000      32        30
2001      34        34
2002      36        37
2003      49        54
2004      54        61
2005      61        68
2006      83        92
2007     111       118
2008     123       132
2009     122       134
2010     125       137
2011     135       145
2012     118       129
2013     118       126
2014     129       137
2015     133       142
2016     131       143
2017     128       140
2018     137       147
2019     134       148
2020     115       128

#### concat
 - outer
 - inner 
 - 여러개 한 번에 가능.
 - 인덱스를 지정해줘야 함.

In [11]:
# 81부터 시작
pop = pd.concat([pop1,pop2,pop3], join='outer', axis=1)
pop

      k_male  k_female  f_male  f_female  household  older_65
year
1981    4160      4191     NaN       NaN       1915       246
1982    4160      4191     NaN       NaN       2001       260
1983    4160      4191     NaN       NaN       2116       260
1984    4160      4191     NaN       NaN       2246       275
1985    4160      4191     7.0       6.0       2338       211
1986    4899      4888     7.0       5.0       2428       305
1987    5000      4979     6.0       5.0       2518       329
1988    5156      5120     5.0       5.0       2658       349
1989    5305      5261     6.0       5.0       2817       363
1990    5321      5282     5.0       4.0       2820       363
1991    5468      5405    18.0      14.0       3330       424
1992    5500      5435    19.0      16.0       3383       434
1993    5478      5412    19.0      17.0       3431       445
1994    5409      5351    21.0      19.0       3456       454
1995    5302      5249    24.0      21.0       3448       460
1996    5231      5187    27.0      25.0       3457       469
1997    5187      5150    28.0      25.0       3499       485
1998    5147      5124    27.0      24.0       3459       505
1999    5141      5123    30.0      28.0       3491       530
2000    5167      5145    32.0      30.0       3540       560
2001    5142      5122    34.0      34.0       3570       586
2002    5109      5098    36.0      37.0       3624       613
2003    5085      5089    49.0      54.0       3715       650
2004    5075      5098    54.0      61.0       3780       693
2005    5062      5105    61.0      68.0       3871       736
2006    5062      5119    83.0      92.0       3979       787
2007    5063      5130   111.0     118.0       4046       852
2008    5062      5139   123.0     132.0       4098       899
2009    5059      5149   122.0     134.0       4117       943
2010    5111      5201   125.0     137.0       4224      1008
2011    5074      5176   135.0     145.0       4193      1049
2012    5041      5154   118.0     129.0       4178      1111
2013    5008      5136   118.0     126.0       4182      1167
2014    4980      5123   129.0     137.0       4194      1222
2015    4931      5091   133.0     142.0       4190      1268
2016    4877      5054   131.0     143.0       4190      1301
2017    4830      5027   128.0     140.0       4220      1365
2018    4774      4992   137.0     147.0       4264      1416
2019    4744      4985   134.0     148.0       4328      1485
2020    4702      4967   115.0     128.0       4418      1568

In [12]:
#85 부터 시작
pop = pd.concat([pop1,pop2,pop3], join='inner', axis=1)
pop

      k_male  k_female  f_male  f_female  household  older_65
year
1985    4160      4191       7         6       2338       211
1986    4899      4888       7         5       2428       305
1987    5000      4979       6         5       2518       329
1988    5156      5120       5         5       2658       349
1989    5305      5261       6         5       2817       363
1990    5321      5282       5         4       2820       363
1991    5468      5405      18        14       3330       424
1992    5500      5435      19        16       3383       434
1993    5478      5412      19        17       3431       445
1994    5409      5351      21        19       3456       454
1995    5302      5249      24        21       3448       460
1996    5231      5187      27        25       3457       469
1997    5187      5150      28        25       3499       485
1998    5147      5124      27        24       3459       505
1999    5141      5123      30        28       3491       530
2000    5167      5145      32        30       3540       560
2001    5142      5122      34        34       3570       586
2002    5109      5098      36        37       3624       613
2003    5085      5089      49        54       3715       650
2004    5075      5098      54        61       3780       693
2005    5062      5105      61        68       3871       736
2006    5062      5119      83        92       3979       787
2007    5063      5130     111       118       4046       852
2008    5062      5139     123       132       4098       899
2009    5059      5149     122       134       4117       943
2010    5111      5201     125       137       4224      1008
2011    5074      5176     135       145       4193      1049
2012    5041      5154     118       129       4178      1111
2013    5008      5136     118       126       4182      1167
2014    4980      5123     129       137       4194      1222
2015    4931      5091     133       142       4190      1268
2016    4877      5054     131       143       4190      1301
2017    4830      5027     128       140       4220      1365
2018    4774      4992     137       147       4264      1416
2019    4744      4985     134       148       4328      1485
2020    4702      4967     115       128       4418      1568

----

#### merge
 - 키를 위주로 합병
 - 동시에 두개밖에 못함.
 - 기존 인덱스 필요 없음.

In [17]:
pop1 = pd.read_csv('https://bit.ly/PopH01File')
pop2 = pd.read_csv('https://bit.ly/PopH02File')
pop3 = pd.read_csv('https://bit.ly/PopH03File')

In [22]:
pop = pd.merge(pop1,pop2, on='year', how='inner')
pop = pd.merge(pop,pop3, on='year', how='inner')
pop

    year  k_male  k_female  f_male  f_female  household  older_65
0   1985    4160      4191       7         6       2338       211
1   1986    4899      4888       7         5       2428       305
2   1987    5000      4979       6         5       2518       329
3   1988    5156      5120       5         5       2658       349
4   1989    5305      5261       6         5       2817       363
5   1990    5321      5282       5         4       2820       363
6   1991    5468      5405      18        14       3330       424
7   1992    5500      5435      19        16       3383       434
8   1993    5478      5412      19        17       3431       445
9   1994    5409      5351      21        19       3456       454
10  1995    5302      5249      24        21       3448       460
11  1996    5231      5187      27        25       3457       469
12  1997    5187      5150      28        25       3499       485
13  1998    5147      5124      27        24       3459       505
14  1999    5141      5123      30        28       3491       530
15  2000    5167      5145      32        30       3540       560
16  2001    5142      5122      34        34       3570       586
17  2002    5109      5098      36        37       3624       613
18  2003    5085      5089      49        54       3715       650
19  2004    5075      5098      54        61       3780       693
20  2005    5062      5105      61        68       3871       736
21  2006    5062      5119      83        92       3979       787
22  2007    5063      5130     111       118       4046       852
23  2008    5062      5139     123       132       4098       899
24  2009    5059      5149     122       134       4117       943
25  2010    5111      5201     125       137       4224      1008
26  2011    5074      5176     135       145       4193      1049
27  2012    5041      5154     118       129       4178      1111
28  2013    5008      5136     118       126       4182      1167
29  2014    4980      5123     129       137       4194      1222
30  2015    4931      5091     133       142       4190      1268
31  2016    4877      5054     131       143       4190      1301
32  2017    4830      5027     128       140       4220      1365
33  2018    4774      4992     137       147       4264      1416
34  2019    4744      4985     134       148       4328      1485
35  2020    4702      4967     115       128       4418      1568